<!DOCTYPE html>
<html lang="en" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--  link   -->
    <th:block th:insert="fragments/link :: linkFragment" />

    <!-- lecture.css -->
    <link rel="stylesheet" href="/css/lecture/list.css">

    <!-- lecture/list.js -->
    <script src="/js/lecture/list.js" defer></script>

</head>
<body>


<div class="wrapper">


    <!-- header   -->
    <th:block th:insert="fragments/header :: headerFragment" />

    <!-- nav       -->
    <th:block th:insert="fragments/nav :: navFragment" />


    <main class="layout-5">

        <section class="">


            <div class="items cat1 layout-5">
                <div class="title">
                    CAT_01
                </div>
                <div class="vidioBlock">

                    <div class="item" >
                        <div class="bg"></div>
                        <iframe width="250" height="150" src="https://www.youtube.com/embed/_KAVdDrOGH0?si=JG_RkCOFUB72xWbD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="item">
                        <div class="bg"></div>
                        <iframe width="250" height="150" src="https://www.youtube.com/embed/XOum8-76fKA?si=pvmOBGlq7-d8jvua" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="item">
                        <div class="bg"></div>
                        <iframe width="250" height="150" src="https://www.youtube.com/embed/fJkfRMMSCXQ?si=wxalbqxdmWwIP3A2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="item">
                        <div class="bg"></div>
                        <iframe width="250" height="150" src="https://www.youtube.com/embed/PUu0w-yBQkM?si=cN8vrP2a5u4L-1OW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="item">
                        <div class="bg"></div>
                        <iframe width="250" height="150" src="https://www.youtube.com/embed/PUu0w-yBQkM?si=cN8vrP2a5u4L-1OW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="items cat1 layout-5">
                <div class="title">
                    CAT_01
                </div>
                <div class="vidioBlock">

                    <div class="item" >
                        <div class="bg"></div>
                        <iframe width="250" height="150" src="https://www.youtube.com/embed/_KAVdDrOGH0?si=JG_RkCOFUB72xWbD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="item">
                        <div class="bg"></div>
                        <iframe width="250" height="150" src="https://www.youtube.com/embed/XOum8-76fKA?si=pvmOBGlq7-d8jvua" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="item">
                        <div class="bg"></div>
                        <iframe width="250" height="150" src="https://www.youtube.com/embed/fJkfRMMSCXQ?si=wxalbqxdmWwIP3A2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="item">
                        <div class="bg"></div>
                        <iframe width="250" height="150" src="https://www.youtube.com/embed/PUu0w-yBQkM?si=cN8vrP2a5u4L-1OW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="item">
                        <div class="bg"></div>
                        <iframe width="250" height="150" src="https://www.youtube.com/embed/PUu0w-yBQkM?si=cN8vrP2a5u4L-1OW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="items cat1 layout-5">
                <div class="title">
                    CAT_01
                </div>
                <div class="vidioBlock">

                    <div class="item" >
                        <div class="bg"></div>
                        <iframe width="250" height="150" src="https://www.youtube.com/embed/_KAVdDrOGH0?si=JG_RkCOFUB72xWbD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="item">
                        <div class="bg"></div>
                        <iframe width="250" height="150" src="https://www.youtube.com/embed/XOum8-76fKA?si=pvmOBGlq7-d8jvua" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="item">
                        <div class="bg"></div>
                        <iframe width="250" height="150" src="https://www.youtube.com/embed/fJkfRMMSCXQ?si=wxalbqxdmWwIP3A2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="item">
                        <div class="bg"></div>
                        <iframe width="250" height="150" src="https://www.youtube.com/embed/PUu0w-yBQkM?si=cN8vrP2a5u4L-1OW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="item">
                        <div class="bg"></div>
                        <iframe width="250" height="150" src="https://www.youtube.com/embed/PUu0w-yBQkM?si=cN8vrP2a5u4L-1OW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>



        </section>

    </main>







    <!-- Footer        -->
    <footer>
        <th:block th:insert="fragments/footer :: footerFragment" />
    </footer>

</div>



<!-- Modal -->
<!-- Button trigger modal -->
<button type="button " class="btn btn-primary modalbtn" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


</body>
</html>