.main-container{

    display:flex;
    justify-content : space-between;
    align-items : center;
    padding : 10px;
}
.main-container>.left{
    width : 30vw;;
    height : 100vh;
    padding : 10px;
    border : 1px solid;
    overflow : auto;

}
.main-container>.left>.ranking{
    min-width:500px;
    max-width:800px;

}
.main-container>.left>.ranking>div:nth-child(1){
    text-align:center;
}

.main-container>.right{
    width : 60vw;
    height : 100vh;
    padding : 10px;

    border : 1px solid;

    overflow : auto;

}

.main-container>.right>.right-header{
    display:flex;
    justify-content:right;
    align-items : center;
}
.main-container>.right>.items{
    width : 100%;
    height : 90%;
    padding : 10px;
    border : 1px solid;

    display:flex;
    justify-content:center;
    align-items : center;
    flex-wrap : wrap;

    overflow : auto;
}
.main-container>.right>.items>.item{
    margin : 10px;
    border : 1px solid;
    border-radius : 5px;
    width : 250px;
    height : 150px;

    position:relative;

}
.main-container>.right>.items>.item>.count{
    width : 100%;
    height : 15px;
    display:flex;
    justify-content: right;
    align-items: center;
    border-radius : 5px 5px 0px 0px;
    margin-bottom:10px;

    position:absolute;
    top:-17px;
    font-size : .8rem;
    color : black;

    opacity: 0;

}
.main-container>.right>.items>.item:hover .count{
    opacity: .8;
    z-index:7;
    transition:.5s;
}
.main-container>.right>.items>.item>.title{
    padding : 5px;
    position:absolute;
    top:5px;
    margin : 0 auto;
    border : 1px solid ;
    width : 100%;
    height : 25px;

    background-color : gray;
    opacity : 0;

    display:flex;
    justify-content: space-between;
    align-items : center;
    border : 0px;
    transition:.5s;
}
.main-container>.right>.items>.item:hover .title{
    opacity : .8;
    z-index : 6;
}



.main-container>.right>.items>.item>.title span{
    color : white;
    font-size : .8rem;
}

.main-container>.right>.items>.item .regdate{

    font-size : .6rem;
    color :white;

    background-color : gray;
    opacity : 0;

    border : 0px;
    display:flex;
    justify-content: right;
    transition:.5s;
}

.main-container>.right>.items>.item:hover .regdate{
    opacity : 1;
    z-index : 6;
}
.main-container>.right>.items>.item>.regdate>span{

}


.main-container>.right>.items>.item>.image-block{
    padding : 2px;
    display : flex;
    justify-content : center;
    align-items : center;

    position:relative;
    width : 100%;
    height : 100%;
    top:0;bottom:0;left:0;right:0;
    margin : auto;
    transition:.5s;
}
.main-container>.right>.items>.item>.image-block a{
    display:block;
    padding : 2px;

}
.main-container>.right>.items>.item>.image-block img{
    width : 200px;
    height : 130px;
    border-radius:5px;
    object-fit : cover;
}

.main-container>.right>.items>.item>.contents{
    width :100%;
    padding : 5px;
    position:absolute;
    bottom:0px;
    display:flex;
    justify-content:space-between;
    align-items : center;
    font-size : .7rem;
    z-index : 7;
}
.main-container>.right>.items>.item>.contents .favorite{
    color : gray;

    transition:.5s;
    position:relative;

}
.main-container>.right>.items>.item:hover .favorite{
    color : red;
}


.main-container>.right>.items>.item>.contents>div>*{
      color : white;
}

.main-container>.right>.items>.item>.bg{
    width : 100%;
    height : 100%;
    position:absolute;
    background-color : gray;
    opacity : 0;
    border-radius :5px;
    z-index:-1;
}
.main-container>.right>.items>.item:hover .bg{
    z-index : 1;
    opacity : .3;
}
.main-container>.right>.items>.item:hover .image-block{
    z-index : 5;
    opacity: .4;
}


th,td{
    font-size : .8rem;
    text-align:center;
}