<!DOCTYPE html>
<html lang="en" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--  link   -->
    <th:block th:insert="fragments/link :: linkFragment" />


    <!-- index.css-->
    <link rel="stylesheet" href="/css/index.css">
    <!-- join.css-->
    <link rel="stylesheet" href="/css/user/index_join.css">

    <link rel="stylesheet" href="/css/index_login.css">


    <!-- index.js   -->
    <script src="/js/index.js" defer> </script>

    <!-- join.js   -->
    <script src="/js/user/index_join.js" defer> </script>


</head>
<body>
    
    <div class="wrapper">

        <!-- header   -->
        <th:block th:insert="fragments/header :: mainHeaderFragment" />

        <!-- nav       -->
        <th:block th:insert="fragments/nav :: navFragment" />


        <main>


            <section class="banner">
                <!-- Slider main container -->
                <div class="swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide"><img src="/assets/banner/01.png"></div>
                        <div class="swiper-slide"><img src="/assets/banner/02.jpg"></div>
                        <div class="swiper-slide"><img src="/assets/banner/03.jpg"></div>
                        <div class="swiper-slide"><img src="/assets/banner/04.jpg"></div>
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>

                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>

                    <!-- If we need scrollbar -->
                    <div class="swiper-scrollbar"></div>
                </div>
            </section>





            <section class="section-3">
                <a href="">
                    <div class="middle-bar">
                        경매 간단 설명 및 페이지 이동
                    </div>
                </a>
            </section>


            <section class="section-2 scroll-spy">
                <div class="right-2">
                    <h1 class="back-to-position to-left">
                        새로운 genAI 기반 교육을 <br>
                        경험하세요!
                    </h1>
                    <p class="back-to-position to-left">
                        AI가 선별한 최신 컨텐츠로  <br>
                        지식을 확장하고 <br>
                        함께 배우고 나누는  <br>
                        새로운 경험을 시작해보세요!
                    </p>
                </div>
                <img src="/assets/brain.png" class="back-to-position to-right" alt="">

            </section>


            <!-- section - bottom -->
            <!-- 박스 호버 시 불투명한 검정 배경 깔리게하기(투명도 약하게 조절) -->
            <div class="box1">
                <div class="category">
                    <img src="/assets/character.jpg">
                    <a href="">
                        <span class="material-symbols-outlined">search</span> 보러가기
                    </a>

                </div>
                <div class="category">
                    <img src="/assets/city.jpg">
                    <a href="">
                        <span class="material-symbols-outlined">search</span> 보러가기
                    </a>
                </div>
                <div class="category">
                    <img src="/assets/map.jpg">
                    <a href="">
                        <span class="material-symbols-outlined">search</span> 보러가기
                    </a>
                </div>
                <div class="category">
                    <img src="/assets/icon.jpg">
                    <a href="">
                        <span class="material-symbols-outlined">search</span> 보러가기
                    </a>
                </div>

            </div>
            <div class="box1">
                <div class="category">
                    <img src="/assets/furniture.jpg">
                    <a href="">
                        <span class="material-symbols-outlined">search</span> 보러가기
                    </a>
                </div>
                <div class="category">
                    <img src="/assets/car.jpg">
                    <a href="">
                        <span class="material-symbols-outlined">search</span> 보러가기
                    </a>
                </div>
                <div class="category">
                    <img src="/assets/place.jpg">
                    <a href="">
                        <span class="material-symbols-outlined">search</span> 보러가기
                    </a>
                </div>
                <div class="category">
                    <img src="/assets/others.jpg">
                    <a href="">
                        <span class="material-symbols-outlined">search</span> 보러가기
                    </a>
                </div>
            </div>

        </main>


        <!-- Footer        -->
        <footer>
            <th:block th:insert="fragments/footer :: footerFragment" />
        </footer>

    </div>




</body>
</html>