<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--  link   -->
    <th:block th:insert="fragments/link :: linkFragment" />

    <!-- login.css -->
    <link rel="stylesheet" href="/css/login.css">

</head>
<body>
    
    <div class="wrapper">




        <main>
            <section>
                <div>
                    <form action="/login" method="post" >
                        <div class="item image">

                         </div>
                        <div class="item title">
                           <div class="logo">
                               <img src="/assets/logo.jpg" alt="">
                           </div>
                        </div>
                        <div class="item">
                            <input type="text" class="form-control" placeholder="아이디를 입력하세요" name="username">
                        </div>
                        <div class="item">
                            <input type="password"  class="form-control"  placeholder="패스워드를 입력하세요" name="password">
                        </div>
                        <div class="item submenu">
                            <div>
                                <input type="checkbox" class="form-check-input" id="rememberMe" name="remember-me">
                                <label for="rememberMe">로그인 상태 유지</label>
                            </div>
                            <div>
                                <a href="/user/confirmId">아이디 분실</a> |
                                <a href="/user/confirmPw">패스워드 분실</a>
                            </div>
                        </div>
                        <div class="item">
                            <label for=""></label>
                            <button class="btn btn-primary w-100">로그인</button>
                        </div>
                        <div class="item">
                            <label for=""></label>
                            <a href="/user/join" class="btn btn-secondary w-100" >회원가입</a>
                        </div>
                    </form>
                </div>
            </section>
        </main>

    </div>
    
</body>
</html>