<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<th:block th:fragment="footerFragment">

        <section class="footer-info">
            <div class="footer-link">
                <a href="">웹사이트 사용 약관</a>
                <a href="">서비스 약관</a>
                <a href="">개인정보 처리방침</a>
                <a href="">콘텐츠 판매</a>
                <a href="">제휴사/재판매인</a>
            </div>
            <hr>
            <div class="footer-adr">
                <div>
                    <span>OO시 OO구 OO로 123 대표 : NAME 전화 : 02-123-4567 사업자등록번호 : 123-45-67890</span><br>
                    <span>CHAIF® is a Registered Trademark  © All Rights Reserved.</span>
                </div>
                <div class="footer-sns">
                    <img src="/assets/instagram.png" alt="instagram">
                    <img src="/assets/facebook.png" alt="facebook">
                </div>
            </div>
        </section>

</th:block>


</body>
</html>