<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<th:block th:fragment="navFragment" >
  <nav class="layout-5">

    <div class="left">
      <a href="/">
        <img src="/assets/logo.jpg" alt="">
      </a>
    </div>

    <div class="right">
      <ul class="mainmenu">
        <li>
          <a href="">내 이미지</a>
          <ul class="submenu">
            <li ><a href="/user/myinfo">내정보</a></li>
            <li class="updateContext"><a href="/user/album/main">앨범</a></li>
            <li><a href="">즐겨찾기</a></li>
            <li><a href="">갤러리</a></li>
            <li><a href="">그룹</a></li>
          </ul>
        </li>
        <li>
          <a href="">둘러보기</a>
          <ul class="submenu">
            <li><a href="">인기이미지</a></li>
            <li><a href="">그룹</a></li>
            <li><a href="">국내지도</a></li>
            <li><a href="">세계지도</a></li>
          </ul>
        </li>
        <li class="ranking-menu">
          <a href="">이달의 콘텐츠<br>RANKING</a>
          <ul class="submenu">
            <li>
              <a href="">이미지</a>
              <ul class="submenu2">
                <li  class="updateContext"><a href="/imageRanking/list" > <span >전체 이미지 랭킹</span></a></li>
                <li><a href="">분야별 랭킹</a></li>
                <li><a href="">지역별 랭킹</a></li>
              </ul>
            </li>
            <li>
              <a href="">음악</a>
              <ul class="submenu2">
                <li><a href="">전체 음악 랭킹</a></li>
                <li><a href="">장르별 랭킹</a></li>
                <li><a href="">지역별 랭킹</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="/board/list">자유 게시판</a>
          <ul class="submenu">
          </ul>
        </li>
        <li>
          <a href="">매매</a>
          <ul class="submenu">
            <li><a href="">이미지</a></li>
            <li><a href="">음악</a></li>
            <li><a href="">이벤트달력</a></li>
          </ul>
        </li>
        <li>
          <a href="">교육</a>
          <ul class="submenu">
            <li><a href="">Stable Diffusion</a></li>
            <li><a href="">Dalle-E</a></li>
            <li><a href="">Mid Journey</a></li>
            <li><a href="">GenAI 일반</a></li>
            <li><a href="/lecture/list">온라인 강의</a></li>
          </ul>
        </li>
      </ul>

    </div>
  </nav>
</th:block>


<!-- ALBUM NAV-->

<th:block th:fragment="albumNavFragment">
  <nav class="layout-5">

    <div class="left">
      <a href="/">
        <img src="/assets/logo.jpg" alt="">
      </a>
    </div>

    <div class="right">
      <ul class="mainmenu">
        <li>
          <a href="/user/myinfo">내정보</a>
        </li>
        <li>
          <a href="/user/album/main">앨범</a>

        </li>
        <li>
          <a href="javascript:void(0)">즐겨찾기</a>
        </li>
        <li>
          <a href="javascript:void(0)">갤러리</a>
        </li>
        <li>
          <a href="javascript:void(0)">그룹</a>
        </li>
      </ul>

    </div>
  </nav>

</th:block>

</body>
</html>