<!DOCTYPE html>
<html lang="en" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <!--  link   -->
    <th:block th:insert="fragments/link :: linkFragment" />

    <!-- /css/album/read.css   -->
    <link rel="stylesheet" href="/css/user/album/read.css">

    <!-- read.js -->
    <script src="/js/user/album/read.js" defer></script>

</head>
<body>
    
    <div class="wrapper">

        <!-- header   -->
        <th:block th:insert="fragments/header :: headerFragment" />

        <!-- albumNav       -->
        <th:block th:insert="fragments/nav ::albumNavFragment" />


        <main class="layout-5" >
            <section>

                <div class="read-block" >
                    <div class="info-block">
                        <table class="table">
                            <thead></thead>
                            <tbody>
                                <tr>
                                    <td style="width:200px;" >TITLE</td>
                                    <td class="title"  th:text="${images.title}" style="width:500px;"></td>
                                    <td  style="width:200px;" >DATE</td>
                                    <td class="date" th:text="${#temporals.format(images.createAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                </tr>
                                <tr>
                                    <td>USER</td>
                                    <td  class="username" th:text="${images.username}" colspan="3"></td>
                                </tr>
                                <tr>
                                    <td>MAIN CATEGORY</td>
                                    <td  class="mainCategory" th:text="${images.mainCategory}"></td>
                                    <td>SUB CATEGORY</td>
                                    <td class="subCategory" th:text="${images.subCategory}"></td>
                                </tr>
                                <tr>
                                    <td>DESCRIPTION</td>
                                    <td class="description" th:text="${images.description}"  colspan="3"></td>
                                </tr>
                           </tbody>
                            <tfoot></tfoot>
                        </table>
                    </div>
                    <div class="image-block">

                        <div class="item" th:each="imagesFileInfo : ${filelist}">
                            <div class="btns">
                                <a href="javascript:void(0)" class="btn btn-primary addRanking" th:data-fileid="${imagesFileInfo.fileid}">
                                    <span class="material-symbols-outlined" style="font-size : .8rem">add</span>
                                    <span>ADD RANKING</span>
                                </a>
                                <a href="javascript:void(0)" class="btn btn-primary deleteRanking" th:data-fileid="${imagesFileInfo.fileid}">
                                    <span class="material-symbols-outlined" style="font-size : .8rem">delete</span>
                                    <span>DELETE IMAGE</span>
                                </a>
                                <a href="javascript:void(0)" class="btn btn-primary changeCategory">
                                    <span class="material-symbols-outlined" style="font-size : .8rem">published_with_changes</span>
                                    <span>CHANGE CATEGORY</span>

                                </a>
                            </div>
                            <div class="images">
                                <th:block  >
                                    <img th:src="@{${imagesFileInfo.dir}+'/'+${imagesFileInfo.filename}}" alt="" />
                                </th:block>
                            </div>
                        </div>
                    </div>

<!--                    <div class="contents-block">-->

<!--                    </div>-->

                </div>

            </section>
        </main>
        <footer></footer>
    </div>
    
</body>
</html>